{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}    
    <title>{% block title%}{% endblock %}</title>
</head>
<body class="bg-gray-100 w-screen h-screen">
<header class="bg-white">
    <div class="max-w-full lg:divide-y lg:divide-gray-200">
    <div class="px-6">
        <div class="relative h-16 flex justify-between">
        <div class="relative z-10 px-2 flex lg:px-0">
          <div class="flex-shrink-0 flex items-center">
            <a href="/">
              <img class="block h-10 w-auto" src="{% static 'img/stackicon.png' %}" alt="Workflow">
          </a>
        </div>
        </div>
        <div class="relative z-0 flex-1 px-2 flex items-center justify-center sm:absolute sm:inset-0">
          <nav class="hidden px-4 w-9/12 lg:py-2 lg:flex lg:space-x-8" aria-label="Global"> 
            <a href="/" class="border-b-4 border-yellow-300 font-semibold px-auto text-gray-900 py-5 px-3 inline-flex items-center text-sm font-medium">
              Questions
            </a>
          </nav>
        </div>

        <div class="hidden lg:relative lg:z-10 lg:ml-4 lg:flex lg:items-center space-x-2">
          {% if not user.is_authenticated %}
            <a href="{% url 'accounts:login' %}" class="inline-flex font-semibold items-center px-4 py-2 border border-gray-500 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-gray-200 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Login
            </a>
            <a href="{% url 'accounts:signup' %}" class="inline-flex items-center font-semibold px-4 py-2 border border-blue-700 shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Signup
            </a>
            {% else %}
            <a href="{% url 'accounts:logout' %}" class="inline-flex items-center px-4 py-2 border border-gray-500 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-gray-200 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Log out</a>
          {% endif %}
        </div>
      </div>
    </div >
</div> 
</div>
</header>

{% block detailbar%}
<div class="flex flex-row justify-between align-center mx-auto w-9/12 h-12 pb-8 pt-10"></div>
</div> 
{% endblock %}

    {% block body %}{% endblock %}
    {% block stylesheet %}{% endblock %}
</body>
</html>