{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>Document</title>
</head>
<body class="bg-gray-100 p-10">
    <form method="post" class="bg-white align-center rounded-sm shadow w-6/12 h-36">{% csrf_token %}  
    <p class="py-5 px-6">Are you sure you want to delete "{{ object.title }}"?</p>
     <input type="submit" value="Confirm" class="inline-flex items-center px-6 py-3 ml-8 border border-transparent text-sm leading-4 font-medium rounded-md text-red-700 bg-red-100 hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 mt-3">
    </form>
</body>
</html>
